<!DOCTYPE HTML>
<html lang="en" class="light" dir="ltr">

<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="touch-icon" href="./style/favicon.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="manifest" href="./style/manifest.json" crossorigin="use-credentials">
    <!-- try fix http err  -->
    <!-- <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" /> -->
    <meta name="referrer" content="no-referrer">

    <link rel="icon" href="./style/favicon.svg">
    <link rel="shortcut icon" href="./style/favicon.png">
    <link rel="stylesheet" href="./style/css/variables.css">
    <link rel="stylesheet" href="./style/css/general.css">
    <link rel="stylesheet" href="./style/css/chrome.css">

    <link rel="stylesheet" href="./dependency/FontAwesome/css/font-awesome.css">
    <link rel="stylesheet" href="./style/fonts/fonts.css">
    <link rel="stylesheet" href="./style/highlight.css">
    <link rel="stylesheet" href="./dependency/vue-multiselect/vue-multiselect.min.css">
    <link rel="stylesheet" href="./dependency/viewerjs/viewer.css" />

    <script src="./dependency/polyfill/polyfill-promise.min.js"></script>
    <script src="./dependency/clipboard/clipboard.min.js"></script>
    <script src="./dependency/marked/marked.min.js"></script>
    <script src="./dependency/marked-highlight/index.umd.js"></script>
    <script src="./dependency/highlightjs/highlight.min.js"></script>

    <script src="./dependency/viewerjs/viewer.min.js"></script>
    <script src="./dependency/axios/axios.min.js"></script>
    <script src="./dependency/vue/vue@2.7.14"></script>
    <script src="./dependency/vue-multiselect/vue-multiselect.min.js"></script>
    <!-- vercel-analytics -->
    <script>
        window.va = window.va || function () { (window.vaq = window.vaq || []).push(arguments); };
    </script>
    <script defer src="/_vercel/insights/script.js"></script>

    <script src="./components/chapter.js?v=20"></script>

    <script>
        // 移动端滑动右侧iframe时关闭左侧菜单栏
        function closeSidebar() {
            if (_.checkMobile()) {
                _.showSidebar = false
            }
        }
        function resizeIframe(obj) {
            const view = obj.contentDocument?.querySelector('#viewer')
            if (view) {
                obj.contentWindow.PDFViewerApplication.eventBus.on('pagesloaded', function (data) {
                    let increaseHeight = 35
                    if (!_.checkMobile()) {
                        increaseHeight = 253
                    }
                    obj.style.height = view.scrollHeight + increaseHeight + 'px';
                    const scrollY = localStorage.getItem('scrollY')
                    if (scrollY) {
                        window.scrollTo({ top: parseInt(scrollY) })
                        localStorage.setItem('scrollY', 0)
                    }
                });
            } else {
                obj.style.height = obj.contentWindow.document.documentElement.scrollHeight + 'px';
                // 删除所有的 代码块的ps__rail-x
                obj.contentWindow.document.documentElement.querySelectorAll('.ps__rail-x').forEach(e => e.remove())
                // 删除评论中的展开
                obj.contentWindow.document.documentElement.querySelectorAll('._2r3UB1GX_0').forEach(e => e.remove())
                obj.contentWindow.document.documentElement.querySelectorAll('[class^="CommentItem_more_"]').forEach(e => e.remove())
                // 尝试修复部分专栏padding问题
                if (!obj.contentWindow.document.documentElement.querySelector('._50pDbNcP_0') && obj.contentWindow.document.documentElement.querySelector('._29HP61GA_0')) {
                    obj.contentWindow.document.documentElement.querySelectorAll('._29HP61GA_0').forEach(e => { e.style.padding = '0px 15px 0 22px' })
                }
                const scrollY = localStorage.getItem('scrollY')
                if (scrollY) {
                    window.scrollTo({ top: parseInt(scrollY) })
                }
            }
            // 绑定点击事件
            // obj.contentDocument.addEventListener('touchmove', () => {
            //     closeSidebar()
            // });
            obj.contentDocument.onclick = function () {
                closeSidebar()
            };

        }
        // 绑定滚动事件
        document.addEventListener('scroll', () => {
            localStorage.setItem('scrollY', window.scrollY)
        });
    </script>
</head>

<body class="sidebar-visible no-js">

    <div id="body-container">
        <!-- Provide site root to javascript -->
        <input type="checkbox" v-model="showSidebar" id="sidebar-toggle-anchor" class="hidden">

        <nav id="sidebar" class="sidebar">
            <div class="sidebar-scrollbox">
                <div class="fixed-header">
                    <multiselect ref="multiselect" v-model="selectColumn" :options="allColumnsGroupByViewingStatus"
                        group-values="columns" group-label="status" :group-select="true" :max-height="500"
                        track-by="value" label="name" select-label="" deselect-label="" @input="loadColumn"
                        @open="handleSelectOpen">
                        <!-- <template slot="singleLabel" slot-scope="{ option }">
                            {{ option.name }}
                        </template> -->
                    </multiselect>
                </div>
                <div>
                    <chapter :menus="menus" />
                </div>
            </div>
            <div id="sidebar-resize-handle" class="sidebar-resize-handle"></div>
        </nav>

        <div id="page-wrapper" class="page-wrapper">
            <div class="page">
                <div id="menu-bar-hover-placeholder"></div>
                <div id="menu-bar" class="menu-bar sticky">
                    <div class="left-buttons">
                        <label id="sidebar-toggle" class="icon-button" for="sidebar-toggle-anchor">
                            <i class="fa fa-bars"></i>
                        </label>
                    </div>
                    <div class="menu-title">{{removNameExt(title)}}</div>
                    <div class="right-buttons">
                        <span>
                            <i class="fa fa-cog" @click="openSettings"></i>
                        </span>
                    </div>
                </div>
                <div id="content" class="content" :class="renderType=='md'?'content-md':''">
                    <main v-if="!initLoading.status" class="empty_main">{{initLoading.msg}}</main>
                    <main ref="mdRender" class="mdRender" v-html="mdDoc" v-if="renderType=='md'" @click="closeSidebar">
                    </main>
                    <main id="iframe-container" v-else>
                        <iframe v-if="renderType=='pdf'" :src="'dependency/pdfjs/web/viewer.html?file='+pdfSrc"
                            onload="resizeIframe(this)"></iframe>
                        <iframe v-if="renderType=='html'" :srcdoc="htmlSrcDoc" frameborder="0" scrolling="no"
                            ref="htmlIframe" onload="resizeIframe(this)"></iframe>
                    </main>
                    <nav class="nav-wrapper" aria-label="Page navigation" v-if="renderStatus"
                        :class="renderType=='md'?'':'nav-wrapper-not-md'">
                        <div class="pagination_box" v-if="getMenuNode(-1)" @click="prevMenu">
                            <a rel="prev" class="mobile-nav-chapters previous" title="上一节" aria-label="Previous chapter"
                                aria-keyshortcuts="Left">
                                <span class="pagination_btn">上一节</span>
                                <span class="pagination_title">{{removNameExt(getMenuNode(-1).menuName)}}</span>
                            </a>
                        </div>
                        <div class="pagination_box" style="padding-right: 10px; padding-left: 0;" v-if="getMenuNode(1)"
                            @click="nextMenu">
                            <a rel="next prefetch" class="mobile-nav-chapters next" title="下一节"
                                aria-label="Next chapter" aria-keyshortcuts="Right">
                                <span class="pagination_btn">下一节</span>
                                <span class="pagination_title">{{removNameExt(getMenuNode(1).menuName)}}</span>
                            </a>
                        </div>
                        <div style="clear: both"></div>
                    </nav>
                </div>
            </div>

            <nav class="nav-wide-wrapper" aria-label="Page navigation">
                <a rel="prev" class="nav-chapters previous" @click="prevMenu" v-if="getMenuNode(-1)" title="上一节"
                    aria-label="Previous chapter" aria-keyshortcuts="Left">
                    <i class="fa fa-angle-left"></i>
                </a>

                <a rel="next prefetch" class="nav-chapters next" @click="nextMenu" v-if="getMenuNode(1)" title="下一节"
                    aria-label="Next chapter" aria-keyshortcuts="Right">
                    <i class="fa fa-angle-right"></i>
                </a>
            </nav>
        </div>

        <!-- Dialog 组件 -->
        <div v-if="isDialogVisible" class="dialog-overlay">
            <div class="dialog-container">
                <span class="close-btn" @click="openSettings">&times;</span>
                <div class="dialog-content">
                    <div style="text-align: center; font-size: 2rem;height: 50px;">配置管理</div>
                    <div class="config">
                        <span class="config_key">专栏位置：</span>
                        <input v-model="columnConfig.columPath" placeholder="专栏位置：如 /合集"></input>
                    </div>
                    <div class="config">
                        <span class="config_key">alistToken：</span>
                        <input v-model="columnConfig.token"></input>
                    </div>
                    <div class="config">
                        <span class="config_key">alist地址：</span>
                        <input v-model="columnConfig.columApiServer" placeholder="alist地址：如 https://a.com"></input>
                    </div>
                    <div class="config">
                        <span class="config_key">加载顺序：</span>
                        <input v-model="columnConfig.priorityOrder"></input>
                    </div>
                    <div class="config">
                        <span class="config_key">并发请求数量限制：</span>
                        <input v-model="columnConfig.requestLimit" placeholder="alist如未开缓存，并发请求会触发限流，会导致目录加载异常"></input>
                    </div>
                    <div class="config">
                        <span class="config_key">调试模式：</span>
                        <div>
                            <input type="radio" class="debug_mode" name="drone" id="open" value="open"
                                v-model="columnConfig.debugMode"></input>
                            <label for="open">开启</label>
                        </div>
                        <div>
                            <input type="radio" class="debug_mode" name="drone" id="close" value="close"
                                v-model="columnConfig.debugMode"></input>
                            <label for="close">关闭</label>
                        </div>
                    </div>
                    <div class="config">
                        <span class="config_key">屏蔽标题字符：</span>
                        <textarea v-model="columnConfig.blockStrings" rows="4" placeholder="每行写一个"></textarea>
                    </div>
                    <div class="config">
                        <span class="config_key">清除缓存</span>
                        <button @click="clearCache">清除</button>
                    </div>
                    <div class="config_btn">
                        <span @click="saveSettings">保存</span>
                        <span @click="isDialogVisible=false">取消</span>
                    </div>
                </div>
            </div>
        </div>
        <script src="./style/core.js?v=23"></script>
    </div>
</body>

</html>