<!DOCTYPE HTML>
<html lang="en" class="light" dir="ltr">

<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="touch-icon" href="./style/favicon.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="manifest" href="./style/manifest.json" crossorigin="use-credentials">
    <!-- try fix http err  -->
    <!-- <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" /> -->

    <link rel="icon" href="./style/favicon.svg">
    <link rel="shortcut icon" href="./style/favicon.png">
    <link rel="stylesheet" href="./style/css/variables.css">
    <link rel="stylesheet" href="./style/css/general.css">
    <link rel="stylesheet" href="./style/css/chrome.css">

    <link rel="stylesheet" href="./style/FontAwesome/css/font-awesome.css">
    <link rel="stylesheet" href="./style/fonts/fonts.css">

    <script src="./style/axios.min.js"></script>
    <script src="./style/vue@2.7.14"></script>
    <!-- <script src="./style/pdf.mjs"></script> -->
    <!-- <script src="./style/pdf.min.js"></script> -->
    <script src="https://unpkg.com/vue-multiselect@2.1.6"></script>
    <link rel="stylesheet" href="https://unpkg.com/vue-multiselect@2.1.6/dist/vue-multiselect.min.css">
    <!--    <script>-->
    <!--        window.va = window.va || function () { (window.vaq = window.vaq || []).push(arguments); };-->
    <!--    </script>-->
    <!--    <script defer src="/_vercel/insights/script.js"></script>-->


    <script>
        // 移动端滑动右侧iframe时关闭左侧菜单栏
        function closeSidebar() {
            if (_.checkMobile()) {
                _.showSidebar = false
            }
        }
        function resizeIframe(obj) {
            const view = obj.contentDocument.querySelector('#viewer')
            if (view) {
                obj.contentWindow.PDFViewerApplication.eventBus.on('pagerender', function (data) {
                    obj.style.height = view.scrollHeight + 51 + 'px';
                });
            } else {
                obj.style.height = obj.contentWindow.document.documentElement.scrollHeight + 'px';
            }
            // 绑定点击事件
            obj.contentDocument.addEventListener('touchmove', () => {
                closeSidebar()
            });
            obj.contentDocument.onclick = function () {
                closeSidebar()
            };
        }
    </script>
</head>

<body class="sidebar-visible no-js">

    <div id="body-container">
        <!-- Provide site root to javascript -->
        <input type="checkbox" v-model="showSidebar" id="sidebar-toggle-anchor" class="hidden">

        <nav id="sidebar" class="sidebar">
            <div class="sidebar-scrollbox">
                <div class="fixed-header">
                    <multiselect ref="multiselect" v-model="selectColumn" track-by="value" label="name" select-label=""
                        deselect-label="" :options="allColumns" @input="loadColumn" :custom-label="customLabel"
                        @open="handleSelectOpen">
                        <template slot="singleLabel" slot-scope="{ option }">
                            {{ option.name }}
                        </template>
                    </multiselect>
                </div>
                <div>
                    <ol class="chapter" v-for="item in menus" :key="item.menuName">
                        <div v-if="item.subMenu">
                            <li class="chapter-item" :class="item.expanded?'expanded':''"
                                @click="item.expanded = !item.expanded">
                                <a href="#">{{item.menuName}}</a>
                                <a class="toggle">
                                    <div>❱</div>
                                </a>
                            </li>
                            <li>
                                <ol class="section">
                                    <li class="chapter-item" v-for="subMenu in item.subMenu" :key="subMenu.menuName">
                                        <a :href="'#'+currentSelectColumn+'/'+item.menuName+'/'+subMenu.menuName"
                                            @click="(event)=>renderContent(subMenu,event)"
                                            :class="subMenu.active?'active':''">{{subMenu.menuName}}</a>
                                    </li>
                                </ol>
                            </li>
                        </div>
                        <div v-else>
                            <li class="chapter-item">
                                <a :href="'#'+currentSelectColumn+'/'+item.menuName" @click="renderContent(item)"
                                    :class="item.active?'active':''">{{item.menuName}}</a>
                            </li>
                        </div>
                    </ol>
                </div>
            </div>
            <div id="sidebar-resize-handle" class="sidebar-resize-handle"></div>
        </nav>

        <div id="page-wrapper" class="page-wrapper">
            <div class="page">
                <div id="menu-bar" class="menu-bar sticky">
                    <div class="left-buttons">
                        <label id="sidebar-toggle" class="icon-button" for="sidebar-toggle-anchor">
                            <i class="fa fa-bars"></i>
                        </label>
                    </div>
                    <div class="menu-title">{{removNameExt(title)}}</div>

                    <div class="right-buttons">
                    </div>
                </div>
            </div>
            <div id="content" class="content">
                <main id="iframe-container">
                    <iframe v-if="renderPdf" :src="'/pdfjs/web/viewer.html?file='+pdfSrc"
                        onload="resizeIframe(this)"></iframe>
                    <iframe v-else :srcdoc="htmlSrcDoc" frameborder="0" scrolling="no" ref="htmlIframe"
                        onload="resizeIframe(this)"></iframe>
                </main>

                <nav class="nav-wrapper" aria-label="Page navigation">
                    <a rel="prev" class="mobile-nav-chapters previous" @click="prevMenu" v-show="getMenuNode(-1)"
                        title="上一节" aria-label="Previous chapter" aria-keyshortcuts="Left">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a rel="next prefetch" class="mobile-nav-chapters next" @click="nextMenu" v-show="getMenuNode(1)"
                        title="下一节" aria-label="Next chapter" aria-keyshortcuts="Right">
                        <i class="fa fa-angle-right"></i>
                    </a>
                    <div style="clear: both"></div>
                </nav>
            </div>
            <nav class="nav-wide-wrapper" aria-label="Page navigation">
                <a rel="prev" class="nav-chapters previous" @click="prevMenu" v-show="getMenuNode(-1)" title="上一节"
                    aria-label="Previous chapter" aria-keyshortcuts="Left">
                    <i class="fa fa-angle-left"></i>
                </a>

                <a rel="next prefetch" class="nav-chapters next" @click="nextMenu" v-show="getMenuNode(1)" title="下一节"
                    aria-label="Next chapter" aria-keyshortcuts="Right">
                    <i class="fa fa-angle-right"></i>
                </a>
            </nav>

        </div>

        <script src="./style/core.js?v=1"></script>

    </div>
</body>

</html>